*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }
    html,body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
    }
    #main{
        width: 100%;
        position: relative;
    }
    #page2{
        height: 100vh;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .swiper {
        width: 70%;
        height: 30vw;
        position: relative;
        /* height: 100%; */
      }
    
      .swiper-slide {
        /* width: 300px; */
        text-align: center;
        font-size: 1.2vw;
        background: #001d07;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        padding: 20px 20px;
        color: white;
      }
    
      .swiper-slide img {
        /* width: 130px; */
        width: 9vw;
        height: 9vw;
        /* height: 130px; */
        border-radius: 50%;
        margin-bottom: 15px;
        margin-top: 20px;
        border: 4px solid white;
        object-position: center;
        object-fit: cover;
    
      }
    
      .swiper {
        margin-left: auto;
        margin-right: auto;
      }
    
      #stars{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5vw;
        color: yellow;
      }